.searchContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 0.1rem;
  margin-top: -1rem;
}

.searchBar {
    padding: 1rem;
    width: 46em;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    color: var(--gray-300);
}

.createBtn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--blue-dark);
    color: var(--gray-100);
}