header {
    display: block;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}